<div class="container-fluid">
  <h1>
    <%= @team.name %>
  </h1>
    <table class="table">
      <tbody>
        <tr>
          <th><%= t(:team_name) %></th>
          <td><%= @team.name %></td>
        </tr>
        <tr>
          <th><%= t(:team_description) %></th>
          <td><%= @team.description %></td>
        </tr>
        <tr>
          <th><%= t(:team_created_by) %></th>
          <td><%= User.find(@team&.created_by_id).first_name + " " + User.find(@team&.created_by_id).last_name %></td>
        </tr>
        <tr>
          <th><%= t(:team_lead) %></th>
          <td><%= User.find(@team&.lead_id).first_name + " " + User.find(@team&.lead_id).last_name %></td>
        </tr>
        
      </tbody>
    </table>
    <div class="btn-group" role="group">
      <% if can? :destroy, @team %>
        <%= button_to 'Delete', team_path(@team), class: 'ml-3 btn btn-dark',
            method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
      <% end %>

      <% if can? :update, @team %>
        <%= link_to 'Update', edit_team_path(@team.sequence_num), class: 'ml-3 btn btn-dark' %>
      <% end %>
    </div>

  </div>
