<div class="modal-dialog">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Edit Holiday</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body">
      <div id="modal-flash-messages"></div>
      <%= form_for holiday, remote: true do |form| %>
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group form-check">
                <%= form.check_box :off_day, class: 'form-check-input' %>
                <%= form.label :every_year, class: 'form-check-label' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <%= form.label :date %>
                <%= form.date_field :date, class: 'form-control' %>
              </div>
            </div>
          </div>

          <%= form.submit class: 'btn btn-dark' %>

        </div>

      <% end %>
    </div>
    
  </div>
</div>