<div class="container-fluid">
  <h1>Users</h1>
  <div class="table-responsive">
    <table id="projects_users-datatable" class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th>Email</th>
          <% if can? :destroy, project_users.first %>
            <th>Action</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% projects_users.each do |project_user| %>
          <tr>
            <td> <%= project_user.user.first_name %> </td>
            <td> <%= project_user.user.last_name %> </td>
            <td> <%= User::ROLES.key project_user.user.role_id %> </td>
            <td> <%= project_user.user.email %> </td>
            <td> 
              <% if can? :destroy, project_user %>
                <%= button_to 'Delete', projects_user_path(project_user), class: 'btn btn-dark', method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete?' } 
                %>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>

<div class="digg_pagination">
   <%= js_will_paginate projects_users %>
</div>