<% content_for :card_header do %>  
  <h2 class="card-header font-weight-bold"><%= t('company_setting.update') %></h2>
<% end %>
<%= form_for object do |form| %>
  <div class='col-lg-12'>
    <div class='form-group'>
      <%= form.label :time_zone , class: 'h5 card-title' %>
      <%= form.time_zone_select :time_zone, nil, {}, class: 'form-control border-info  w-100', default: 'Islamabad' %>
    </div>
  </div>
  <% if can? :update, object %>
    <%= form.submit class: 'btn btn-dark float-right mr-3' %>
  <% else %>
    <%= form.submit class: 'btn btn-dark float-right mr-3', disabled: true %>
  <% end %>
<% end %>
