<div id="modal-flash-messages"></div>
<div class="field text-center mb-4 row-cols-1 pr-5 m-4">
  <label class="pt-2">Task id</label>
  <input type="text" value="<%= task.sequence_num %>" class="form-control float-right w-75" readonly>
</div>
<%= form_for([task, time_log], remote: true) do |f| %>
  <div class="field text-center mb-4 row-cols-1 pr-5 m-4">
    <%= f.label :hours, class: "pt-2" %>
    <%= f.number_field :hours, autofocus: true, class: 'form-control float-right w-75', step: 0.5, required: true, min: 0, max: 999 %>

    <%= f.number_field :hours, autofocus: true, class: 'form-control float-right w-75', step: 0.01, required: true, min: 0, max: 999.99 %>
  </div>

  <div class="field text-center mb-4 row-cols-1 pr-5 m-4">
    <%= f.label :comment, class: "pt-2" %>
    <%= f.text_area :comment, autofocus: true, class: 'form-control float-right w-75'%>
  </div>

  <div class="field text-center mb-4 row-cols-1 pr-5 m-4 mt-5">
    <%= f.label :activity_id, class: "pt-2" %>
    <%= f.select :activity_id, TimeLog::ACTIVITIES, {}, {class: "form-control float-right w-75", required: true} %>
  </div>

  <div class="actions text-center m-2">
    <%= f.submit "Create", class: 'btn btn-dark float-right mb-3' %>
  </div>
<% end %>
