<%= javascript_pack_tag 'task' %>

<% content_for :card_header do %>
  <% if task.new_record? %>
    <h2 class="card-header font-weight-bold"><%= t(:task_create) %></h2>
  <% else %>
    <h2 class="card-header font-weight-bold"><%= t(:task_update) %></h2>
  <% end %>
<% end %>

<%= form_for task do |form| %>
  <div class="col-lg-12">
    <div class="form-group">
      <%= form.label t(:task_title) %>
      <%= form.text_field :title, class: 'form-control border-info', required: true, minlength: 3 %>
    </div>
  </div>

  <div class="col-lg-12 form-group">
      <%= form.label t(:task_description) %>
      <%= form.text_area :description, class: 'form-control border-info', rows: 5 %>
  </div>

  <div class="row pl-1 pr-1">
    <div class="col-lg-6 form-group">
      <%= form.label t(:task_start_date) %>
      <%= form.date_field :start_date, class: 'form-control border-info' %>
    </div>
    <div class="col-lg-6 form-group">
      <%= form.label t(:task_end_date) %>
      <%= form.date_field :end_date, class: 'form-control border-info' %>
    </div>
  </div>

  <div class="row pl-1 pr-1">
    <div class="col-lg-6 form-group">
      <%= form.label t(:task_expected_start_date) %>
      <%= form.date_field :expected_start_date, class: 'form-control border-info' %>
    </div>

    <div class="col-lg-6 form-group">
      <%= form.label t(:task_expected_end_date) %>
      <%= form.date_field :expected_end_date, class: 'form-control border-info' %>
    </div>
  </div>

  <div class="row  pl-1 pr-1">
    <div class="col-lg-6 form-group">
      <%= form.label t(:task_due_date) %>
      <%= form.date_field :due_date, class: 'form-control border-info' %>
    </div>

    <div class="col-lg-6 form-group">
      <%= form.label t(:task_progress) %>
      <%= form.number_field :progress, in: 0..100, :step => '1', class: 'form-control border-info'%>
    </div>
  </div>

  <div class="row  pl-1 pr-1">
    <div class="col-lg-6 form-group">
      <%= form.label t(:task_priority) %>
      <%= form.select :priority, options_for_select(Task::PRIORITY, task.priority), {}, class: 'form-control border-info' %>
    </div>

    <div class="col-lg-6 form-group">
      <%= form.label t(:task_status) %>
      <%= form.select :status, options_for_select(Task::STATUS, task.status), {}, class: 'form-control border-info' %>
    </div>
  </div>
  
  <div class="row pl-1 pr-1">
    <div class="col-lg-6 form-group">
      <%= form.label t(:task_assignee_id) %>
      <%= form.text_field :assignee_id, data: { pre: { id: task.assignee_id, name: task.assignee&.full_name }.to_json }, class: 'form-control border-info' %>
    </div>

    <div class="col-lg-6 form-group">
      <%= form.label t(:task_project_id) %>
      <%= form.select :project_id, options_from_collection_for_select(@projects, 'id', 'name', task.project_id), {}, {class: "form-control border-info"} %>
    </div>
  </div>

  <div class="row pl-1 pr-1">
    <div class="col-lg-6 form-group">
      <%= form.label t(:task_reviewer_id) %>
      <%= form.text_field :reviewer_id, data: { pre: { id: task.reviewer_id, name: task.reviewer&.full_name }.to_json }, class: 'form-control border-info' %>
    </div>
  </div>
  
  <%= form.submit class: 'btn btn-dark float-right mt-3' %>
  <%= link_to 'Back', :back, class: 'btn btn-dark float-right mr-3 mt-3' %>
<% end %>
