<%= javascript_pack_tag 'task' %>
<table id="tasks-table" class="table table-hover">
  <thead>
  <tr>
    <th><%= t(:task_title) %></th>
    <th><%= t(:task_project_title) %></th>
    <th><%= t(:task_assignee) %></th>
    <th><%= t(:task_status) %></th>
    <th><%= t(:task_priority) %></th>
    <th><%= t(:task_created) %></th>
    <th><%= t(:task_due_date) %></th>
  </tr>
  </thead>
  <tbody>
  
  <% @tasks.collect do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task) %> </td>
      <td> <%= link_to Project.find(task.project_id).name, project_path(Project.find task.project_id) %> </td>
      <td> <%= task.assignable_id %> </td>
      <td> <%= task.status %> </td>
      <td> <%= Task::PRIORITY.key task.priority %> </td>
      <td> <%= task.start_date&.to_s(:long) %> </td>
      <td> <%= task.due_date&.to_s(:long) %> </td>
    </tr>        
  <% end %>
   
  </tbody>
</table>