 <%= javascript_pack_tag 'comment', 'data-turbolinks-track': 'reload' %>
 <%= javascript_pack_tag 'time_log', 'data-turbolinks-track': 'reload' %>
 <%= javascript_pack_tag 'attachment', 'data-turbolinks-track': 'reload' %>

 <div class="container-fluid">
  <h1>
    <%= @task.title %>
  </h1>
  <div class="btn-group" role="group" style="float: right;">
    <% if can? :destroy, @task %>
      <%= button_to 'Delete', task_path(@task), class: 'ml-3 btn btn-dark',
      method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
    <% end %>

    <% if can? :update, @task %>
      <%= button_to 'Update', edit_task_path(@task.sequence_num), { class: 'ml-3 btn btn-dark', method: 'get' } %>
    <% end %>

    <%= button_to 'Watch', task_path(@task), class: 'ml-3 btn btn-dark' %>
    <%= link_to 'Add Watcher', task_path(@task), class: 'ml-3 btn btn-dark', remote: true %>

    <%= button_to 'Remove Watcher', task_path(@task), class: 'ml-3 btn btn-dark',
    method: :delete, data: { confirm: 'Are you sure you want to delete watcher?' } %>
    <%= button_to 'Log Time', new_task_time_log_path(@task), method: 'get', action: 'new', class: 'ml-3 btn btn-dark', remote: true %>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th><%= t(:task_title) %></th>
        <td><%= @task.title %></td>
      </tr>
      <tr>
        <th><%= t(:task_description) %></th>
        <td><%= @task.description %></td>
      </tr>
      <tr>
        <th><%= t(:task_status) %></th>
        <td><%= @task.status %></td>
      </tr>
      <tr>
        <th><%= t(:task_priority) %></th>
        <td><%= Task::PRIORITY.key @task.priority %></td>
      </tr>
      <tr>
        <th><%= t(:task_progress) %></th>
        <td><%= @task&.progress %></td>
      </tr>
      <tr>
        <th><%= t(:task_created_by) %></th>
        <td><%= @task.created_by.full_name %></td>
      </tr>
      <tr>
        <th><%= t(:task_assignee) %></th>
        <td><%= @task.assignee.full_name %></td>
      </tr>
      <tr>
        <th><%= t(:task_project_id) %></th>
        <td><%= @task.project.name %></td>
      </tr>
      <tr>
        <th><%= t(:task_due_date) %></th>
        <td><%= @task.due_date&.to_s(:long) %></td>
      </tr>
      <tr>
        <th><%= t(:task_start_date) %></th>
        <td><%= @task.start_date&.to_s(:long) %></td>
      </tr>
      <tr>
        <th><%= t(:task_end_date) %></th>
        <td><%= @task.end_date&.to_s(:long) %></td>
      </tr>
      <tr>
        <th><%= t(:task_expected_start_date) %></th>
        <td><%= @task.expected_start_date&.to_s(:long) %></td>
      </tr>
      <tr>
        <th><%= t(:task_expected_end_date) %></th>
        <td><%= @task.expected_end_date&.to_s(:long) %></td>
      </tr>

    </tbody>
  </table>

</div>

<!-- The Modal -->
<div class="modal" id="time-log-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Time Logging</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="time-log-modal-body">
      </div>

    </div>
  </div>
</div>

<%= render partial: 'shared/tabs', locals: {resource: :task} %>