<%= javascript_pack_tag 'user', 'data-turbolinks-track': 'reload' %>
<% content_for :card_header do %>
    <div class="card-header">
      <h2 class="font-weight-bold float-left">Users</h2>
      <% if can? :create, User %>
        <%= button_to "Create User", new_user_path, method: 'get', class: "btn btn-dark float-right mt-1" %>
      <% end %>
    </div>
<% end %>


<div class="table-responsive">
  <table id="users-datatable" class="table table-hover">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Department</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <% presenter = UserPresenter.new(user, self) %>
      <tr>
        <td> <%= link_to user.first_name, user_path(user) %> </td>
        <td> <%= link_to user.last_name, user_path(user) %> </td>
        <td> <%= link_to presenter.role, user_path(user) %> </td>
        <td> <%= presenter.department %> </td>
        <td> <%= link_to user.email, user_path(user) %> </td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>
