<%= javascript_pack_tag 'department', 'data-turbolinks-track': 'reload' %>

<% content_for :card_header do %>
  <div class="card-header">
    <h2 class="font-weight-bold float-left">Departments</h2>
    <%= button_to "Create Department", new_department_path, method: 'get', class: "btn btn-dark float-right mt-1" %>
  </div>
<% end %>

<div class="container-fluid">
  <h1>Departments</h1>
  <div class="table-responsive">
      <table id="departments-datatable" class="table table-hover">
        <thead>
          <tr>
            <th><%= t(:name) %></th>
            <th><%= t(:department_description) %></th>
          </tr>
        </thead>
        <tbody>
        <% @departments.each do |department| %>
          <tr>
            <td><%= link_to department.name, department_path(department.sequence_num) %> </td>
            <td> <%= department.description %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>
<div class="digg_pagination">
  <%= will_paginate @departments %>
</div>