<br><br>
<%= form_for @department  do |form| %>
  <div class="container-fluid">
    <%= form.label @department.name, class: 'h1 font-weight-bold text-dark' %>
    <table class="table">
      <tbody>
        <tr>
          <th><%= t(:department_title) %></th>
          <td><%= @department.name %></td>
        </tr>
        <tr>
          <th><%= t(:department_description) %></th>
          <td><%= @department.description %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>