<%= javascript_pack_tag 'attachment' %>
<div class="container-fluid">
  <div class="table-responsive">
    <table id="attachments-datatable" class="table table-hover">
      <thead>
        <tr>
          <th><%= t(:file_name) %></th>
          <th><%= t(:file_size) %></th>
          <th><%= t(:file_uploaded_on) %></th>
        </tr>
      </thead>
      <tbody>

        <% @attachments.each do |attachment| %>
          <tr>
            <td><%= link_to attachment.attachment_file_name, project_path(project) %> </td>
            <td> <%= attachment.attachment_file_size %> </td>
            <td><%= attachment.updated_at&.to_s(:long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
