<div class="container-fluid">
  <h1>Projects</h1>
  <div class="table-responsive">
      <table id="projects-departments-datatable" class="table table-hover">
        <thead>
        <tr>
          <th><%= t(:project_title) %></th>
          <th><%= t(:project_description) %></th>
          <th><%= t(:project_status) %></th>
          <th><%= t(:project_start_date) %></th>
          <th><%= t(:project_end_date) %></th>
          <% if can? :create, projects_departments.first %>
            <th><%= t(:project_delete_action) %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% projects_departments.each do |project_department| %>
          <tr>
            <td><%= project_department.project.name %></td>
            <td> <%= project_department.project.description %> </td>
            <td> <%= project_department.project.status %> </td>
            <td><%= project_department.project.start_date&.to_s(:long) %></td>
            <td><%= project_department.project.end_date&.to_s(:long) %></td>
            <td> 
              <% if can? :destroy, project_department %>
                <%= button_to 'Delete', projects_department_path(project_department), class: 'btn btn-dark', method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete?' } 
                %>
              <% end %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
  </div>
  <div class="digg_pagination">
    <%= js_will_paginate projects_departments %>
  </div>

</div>
