<div class="container-fluid">
  <div class="table-responsive">
      <table id="events-datatable" class="table table-hover">
        <thead>
        <tr>
          <th><%= t(:event_title) %></th>
          <th><%= t(:event_description) %></th>
          <th><%= t(:event_date) %></th>
        </tr>
        </thead>
        <tbody>

        <% @events.each do |event| %>
          <tr>
            <td><%= link_to event.title, event_path(event) %> </td>
            <td> <%= event.description %> </td>
            <td><%= event.start&.to_s(:long) %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
  </div>
</div>

<% if local_assigns[:paginate] %>
  <div class="digg_pagination">
    <% if request.format.html? %>
      <%= will_paginate @events %>
    <% else %>
      <%= js_will_paginate @events %>
    <% end %>
  </div>
<% end %>