<%= javascript_pack_tag 'event', 'data-turbolinks-track': 'reload' %>
<% content_for :card_header do %>
    <div class="card-header">
      <h2 class="font-weight-bold float-left">Events</h2>
      <% if can? :create, Event %>
        <%= button_to "Create Event", new_event_path, method: 'get', class: "btn btn-dark float-right mt-1" %>
      <% end %>
    </div>
<% end %>


<div class="row">      
  <div class="col-lg-6">
    <div class="form-group">
      <%= form_with url: events_search_path, remote: true do |f| %>
          <%= f.text_field :search, autofocus: true, class: 'form-control border-info', required: true %>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="form-group">
      <%= f.submit 'Search', class: 'btn btn-dark mr-5 float-right' %>
      <% end %>
    </div>
  </div>
</div>

<div class="table-responsive my-4" id="events-table-div">
  <%= render partial: "table", locals: { paginate: true, events: @events } %>
</div>  
