<%= javascript_pack_tag 'project' %>
        </tbody>
      </table>
  </div>
   <div class="digg_pagination">
    <%= will_paginate @projects %>
  </div>
<% content_for :card_header do %>
    <div class="card-header">
      <h2 class="font-weight-bold float-left">Projects</h2>
      <%= button_to "Create Projects", new_project_path, method: 'get', class: "btn btn-dark float-right mt-1" %>
    </div>
<% end %>

<%= render partial: 'table', locals: { projects: @projects } %>
 
 <div class="digg_pagination">
  <%= will_paginate @projects %>
</div>
