<%= javascript_pack_tag 'project', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <h1>Projects</h1>
  <div class="table-responsive">
      <table id="projects-datatable" class="table table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
        </thead>
        <tbody>

        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project_path(project) %> </td>
            <td> <%= project.description %> </td>
            <td> <%= project.status %> </td>
            <td><%= Date.parse((project.start_date).to_s) unless project.start_date.nil? %></td>
            <td><%= Date.parse((project.end_date).to_s) unless project.end_date.nil? %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
  </div>
</div>