<%= javascript_pack_tag 'project' %>
<div class="container-fluid">
  <h1>Projects</h1>
  <div class="table-responsive">
      <table id="projects-datatable" class="table table-hover">
        <thead>
        <tr>
          <th><%= t(:project_title) %></th>
          <th><%= t(:project_description) %></th>
          <th><%= t(:project_status) %></th>
          <th><%= t(:project_start_date) %></th>
          <th><%= t(:project_end_date) %></th>
        </tr>
        </thead>
        <tbody>

        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project_path(project) %> </td>
            <td> <%= project.description %> </td>
            <td> <%= project.status %> </td>
            <td><%= Date.parse((project.start_date).to_s) unless project.start_date.nil? %></td>
            <td><%= Date.parse((project.end_date).to_s) unless project.end_date.nil? %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
  </div>
   <div class="digg_pagination">
    <%= will_paginate @projects %>
  </div>
</div>
