<div class="mt-10">
  <div class="container border rounded-lg w-50 shadow p-4 mb-4 bg-white mt-4">
    <h2 class="text-center mb-5"> <%= APP_NAME %> </h2>
    <h2 class="text-center mb-5">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field text-center mb-4 row-cols-1 pr-5 m-4">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control float-right w-50' %>
      </div>

      <div class="field text-center mb-4 row-cols-1 pr-5 m-4">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control float-right w-50' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field text-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions text-center m-2">
        <%= f.submit "Log in", class: 'btn btn-dark' %>
      </div>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

    
  </div>
</div>
