
<% content_for :card_header do %>
  <div class="card-header">
    <h2 class="font-weight-bold float-left">Log in</h2>
  </div>
<% end %>

<div class="col-sm-6 border-right float-left pt-4 pl-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group col-lg-12">
      <%= f.label :email, class: 'h5 card-title' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control border-info', required: true %>
    </div>

    <div class="form-group col-lg-12">
      <%= f.label :password, class: 'h5 card-title' %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control border-info', required: true %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group col-lg-12">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'card-text' %>
      </div>
    <% end %>
    <%= f.submit "Log in", class: 'btn btn-dark float-right mr-3' %>
    <div class="text-left ml-3 mt-3">
      <%= render "devise/shared/links" %>
      <%= link_to "Change domain?", user_companies_find_url(subdomain: '') %><br />
    </div>
  <% end %>
</div>
<div class="col-sm-6 float-left">
  <img src="https://cdn.dribbble.com/users/1048838/screenshots/4903831/altostack_dribbble_aga_jucha.png" class="img-fluid " alt="Responsive image">
</div>