<div class="modal-dialog">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header card-header">
      <h4 class="modal-title">Edit Working Day</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body">
      <div id="modal-flash-messages"></div>
      <%= form_for working_day, remote: true do |form| %>
        
        <div class="container-fluid">
          <div class="col-lg-12">
            <div class="form-group form-check">
              <%= form.check_box :off_day, class: 'form-check-input' %>
              <%= form.label :off_day, class: 'form-check-label' %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <%= form.label :from %>
              <%= form.time_field :from, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <%= form.label :to %>
              <%= form.time_field :to, class: 'form-control', required: true %>
            </div>
          </div>
          <%= form.submit class: 'btn btn-dark float-right mb-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
