<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeTrackingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: "home/header" %>
    <div id="flash_messages">
      <%= render partial: "shared/flash" %>
    </div>
    <%= yield %>
  </body>
</html>
