<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeTrackingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </head>
  <body style=" background-image: url(https://images.wallpaperscraft.com/image/cubes_light_texture_background_50406_1920x1080.jpg); background-repeat: repeat;">
    <div id="wrapper" class="d-flex w-100">
      <%= render partial: "shared/sidebar" %>
      <div id="content" class="w-100 pb-5" style="transition: 1s;">
        <%= render partial: "home/header" %>
        <div id="flash_messages">
          <%= render partial: "shared/flash" %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
